.board {
  padding: 24px 0;
  height: 95%;
  overflow-x: scroll;

  color: black;
  .board-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .board-lists {
    display: flex;

    padding: 0 16px; // 左右都加
    gap: 24px;
  }
  .add-list {
    .add-list-title {
      height: 40px;
      line-height: 40px;
    }
  }
}
